<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Company Website</title>
</head>
<body>

  <!-- NAVIGATION -->
  <%- include('partials/navigation') %>

  <h1>About Page</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium vero nisi ducimus dignissimos assumenda, deserunt, reiciendis, sequi voluptatum hic temporibus aut sapiente voluptatibus magni? Sequi, magni quasi possimus impedit, autem dolorem nam eos dolor accusantium aut rerum optio voluptates libero voluptas saepe illum labore ullam repellat id architecto assumenda. Veritatis, nihil. Vero quod temporibus dolore, sed fugit consectetur quisquam voluptatem illum aperiam adipisci, porro natus atque tenetur impedit perferendis modi, aspernatur minima. Natus tenetur enim quos voluptatem. Odit, illo recusandae commodi corporis deleniti placeat fuga quos nulla magnam ratione fugiat, nobis a aliquid doloremque id, est aperiam! Laboriosam, labore perspiciatis!</p>
</body>
</html>
