<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Company Website</title>
</head>
<body>

  <!-- NAVIGATION -->
  <%- include('partials/navigation') %>

  <h1>List of Cats</h1>

  <ol>
    <% data.forEach(function(cat){ %>
      <li>Name: <%= cat.name %>, age: <%= cat.age %></li>
    <% }); %>
  </ol>

</body>
</html>
