<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Company Website</title>
</head>
<body>

  <!-- NAVIGATION -->
  <%- include('partials/navigation') %>

  <h1>Client Page</h1>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate reiciendis, rerum in architecto consequuntur quis doloribus tempora ratione natus, saepe nulla, nobis consectetur sapiente impedit laborum minus nihil dignissimos nostrum labore delectus vitae accusamus ut? Asperiores nostrum alias non labore quo porro quos maiores dignissimos nobis fugit eaque dolorem ipsa sint in magni molestiae et, ea sunt obcaecati laboriosam ipsum ut mollitia molestias perspiciatis? Et similique sed, accusamus, distinctio non, quod temporibus illum cupiditate suscipit sunt ipsa beatae. Iste sit aut necessitatibus nihil mollitia nesciunt quidem similique sequi, quisquam aperiam modi et ex, pariatur possimus eaque placeat ipsam a eos libero dolore commodi amet sunt laborum. Quia error necessitatibus nobis sunt mollitia vitae debitis at aspernatur incidunt temporibus voluptatum unde, ab distinctio nam dolore vel repellendus cumque molestiae expedita excepturi quod modi pariatur iure! Odit saepe obcaecati neque quidem quasi, nihil aliquid tenetur, maiores numquam ut officiis! Neque vel ad ipsa excepturi culpa vero autem iusto ducimus obcaecati, recusandae doloremque sequi consectetur exercitationem, odio veritatis alias pariatur veniam nesciunt dolor laborum voluptates error natus. Numquam officia, pariatur dignissimos deserunt excepturi consectetur dolore voluptatum molestias. Nemo minus quisquam maiores harum, quidem laudantium voluptates sint itaque nulla ab quos, totam officiis aliquid?</p>
</body>
</html>
