<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Company Website</title>
</head>
<body>

  <!-- NAVIGATION -->
  <%- include('partials/navigation') %>
  
  <h1>Contact Page</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi accusamus itaque magni deleniti provident. Sequi corrupti ut dolore, amet harum quaerat voluptate nihil velit rem eos vitae quibusdam voluptates, consequuntur quisquam? Commodi impedit possimus asperiores quas eos quisquam quos necessitatibus provident aut explicabo ab, nobis quam illo expedita alias reprehenderit veniam praesentium. Consectetur, quia maxime? Libero illum dolorum excepturi vitae perferendis fuga. Labore consectetur totam commodi vero, libero sed. Architecto labore pariatur alias quae molestias voluptatem natus explicabo quibusdam ad quia. Incidunt ad et rerum voluptatem explicabo laudantium, magnam est. Enim nostrum, minima quisquam corrupti, maxime eum consequuntur quia laborum voluptates perferendis quo nisi dolores neque distinctio saepe hic pariatur laudantium. Amet, consectetur. Explicabo officiis quibusdam, nostrum quos deleniti ipsam non veritatis, accusamus distinctio, maiores rerum. Molestias repudiandae debitis ratione culpa mollitia id exercitationem quasi tenetur illum repellendus, voluptate nisi excepturi eligendi, necessitatibus, rerum numquam molestiae? Voluptatum corrupti vel illo.</p>
</body>
</html>
