body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: cornsilk;
  background-color: blueviolet;
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 30px;
}
h1, p {
  text-align: center;
}
footer {
  padding-top: 50px;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  height: 12%;
}
#navigation {
  text-align: right;
}
#navigation li {
  list-style: none;
  display: inline;
  padding: 5px;
}
#navigation li a {
  color: aliceblue;
  text-decoration: none;
}
#list-articles li {
  padding: 5px;
}